<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/favorites_results">
        <h1>Favorites Form</h1> <br>

        <label for="color">Favorite Color</label> <br>
        <input type="color" name="color" id="color"> <br>

        <label for="animal">Favorite Animal</label> <br>
        <input type="text" name="animal" id="animal"> <br>

        <label for="city">Favorite City</label> <br>
        <input type="text" name="city" id="city"> <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>