<!DOCTYPE html>
<html>
    <head>
        <title>Froyo Ordering</title>
    </head>
    <body>
        <form action="/froyo_results" method="GET">
            <label for="flavor">What is your favorite froyo flavor?</label> <br>
            <input type="text" name="flavor" id="flavor"> <br>

            <label for="toppings">What are your favorite toppings?</label> <br>
            <input type="text" name="toppings" id="toppings"> <br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>